*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
}
h1{
    margin: 50px;
    

}
section{
    border: black solid 1px;
    width: 50vw;
    margin: 5px;
    height: auto;
    background-color: rgb(22, 146, 99)
}
.float{
    float: right;
    background-color: crimson;
    border: black solid 1px;
    padding: 4px;

}
.float2{
        float: right;
        background-color: crimson;
        border: black solid 1px;
        padding: 4px;
}
.float3{
    float: right;
    background-color: brown;
    border: black solid 1px;
    padding: 4px;

    
}
.lorem{
    clear: right;
    text-align: center;
    
    margin: 20px;
}
.lorem2{
    clear: right;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    
}



